<meta charset="UTF-8">
<title>Phantasia</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/fontawesome-free.min.css">
<link rel="stylesheet" href="/css/global.css">
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/popper-utils.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/global.js"></script>